//APPLY JOB (#ACCT),'LIST PTFS',MSGCLASS=A,CLASS=A,
// MSGLEVEL=(1,1),REGION=0M,NOTIFY=&SYSUID.,SYSAFF=ANY
//* Change #globalcsi to the data set name of your global CSI.
//* Change #tzone to your CSI target zone name.
//* Once the APPLY CHECK is successful, remove the CHECK operand
//* and run the APPLY step again to do the actual APPLY.
//*
//         SET CSI={{global_csi}}
//*
//APPLY    EXEC PGM=GIMSMP,REGION=0M
//SMPCSI   DD DISP=OLD,DSN=&CSI
//SMPCNTL  DD *
   SET BOUNDARY({{target_zone}}) .
   APPLY SELECT(
     {{ptfs[0]}}
     {{ptfs[1]}}
   )
   BYPASS(HOLDSYS,HOLDERROR)
   REDO COMPRESS(ALL) .
//*